body {
  background-color: #9233ff;
}

.App {
  background-color: #3f3160;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

#to-do-form input {
  background-color: rgba(27, 112, 137, 1);
  border: 0;
  color: #fff;
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}

#to-do-form input::placeholder {
  color: rgba(227, 252, 257, 1);

}

#to-do-form input:focus,
#to-do-form button:focus {
  outline: none;
}

#to-do-form button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(202, 156, 13);
  cursor: pointer;
  font-weight: bolder;
  color: #fff;

}